body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
} */

.custom-sidebar {
    width: 250px;
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
}

.home-section {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
}

form {
    display: flex;
    flex-direction: column;
}

form > div {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea,
input[type="url"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.success-message {
    color: green;
    margin-top: 10px;
}

/* Table styles */
.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.custom-table th,
.custom-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.custom-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.custom-table th {
    background-color: #007bff;
    color: white;
}
